* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: rgb(51, 51, 51);
}
button {
  font-family: sans-serif;
}
path,
i,
svg {
  pointer-events: none;
}
