.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(212, 212, 212);
}

.color {
  height: 80vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  h2 {
    font-size: 2rem;
    cursor: pointer;
  }
}

.controls {
  display: flex;
  flex-direction: column;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  opacity: 0;
  padding: 1rem;
  width: 80%;
  pointer-events: none;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
  button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.6rem;
    border-top-right-radius: 0.9rem;
    border-bottom-left-radius: 1rem;
    border: none;
    background: rgb(73, 73, 73);
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  span {
    color: rgb(31, 33, 63);
  }
  input[type="range"] {
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;
    border: solid thin;
  }
  // custom thumb properties chrome
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    border: solid thin;
  }

  // custom thumb properties firefox
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    border: solid thin;
  }
}

.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}

.controls {
  display: flex;
  flex-direction: column;
  .adjust,
  .lock {
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    margin: 2rem 0rem;
  }
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
  .item-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    font-size: 1.2rem;
    margin: 1rem;
    padding: 1rem 2rem;
    background: rgb(31, 33, 63);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.palette-list {
  width: 90%;
}

.library-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.palette-name {
  flex: 1;
}

.small-palette {
  flex: 1;
  display: flex;
}

.small-color {
  flex: 1;
  height: 4rem;
  width: 2rem;
}

.select-palette {
  height: 4rem;
  padding: 1rem;
  font-size: 1.2rem;
  margin: 1rem;
  background: rgb(31, 33, 63);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}

.modal {
  display: none;
}
// modal styles
.copy-container,
.save-container,
.library-container {
  position: fixed;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  .copy-popup,
  .save-popup,
  .library-popup {
    background: white;
    min-width: 40%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    transform: translateY(-2rem);
    transition: transform 0.5s ease;
    .title {
      padding: 2rem 0rem;
    }
  }
}

// save modal specific styles
.save-popup,
.library-popup {
  .close-save,
  .close-library {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.6rem;
    border-top-right-radius: 0.9rem;
    border-bottom-left-radius: 1rem;
    border: none;
    background: rgb(73, 73, 73);
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  .submit-save {
    padding: 0.7rem 1rem;
    border-radius: 0.9rem;
    border: none;
    background: rgb(73, 73, 73);
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  .save-name {
    font-size: 1.7rem;
    border: solid rgb(73, 73, 73);
    border-radius: 0.5rem;
    padding: 0rem 1rem;
  }
}

.copy-container.active,
.save-container.active,
.library-container.active {
  opacity: 1;
  pointer-events: all;
}

.copy-popup.active,
.save-popup.active,
.library-popup.active {
  transform: translateY(0rem);
}
